# For tests
pytest >= 5.0         # for faulthandler in core
coverage >= 7.2.5
pytest-trio
pytest-cov

# Tools
black; implementation_name == "cpython"
mypy
ruff >= 0.6.6
uv >= 0.2.24
codespell

# https://github.com/python-trio/trio/pull/654#issuecomment-420518745
mypy-extensions
typing-extensions

# Checker's own dependencies
#<TOML_DEPENDENCIES>
exceptiongroup; python_version < '3.11'
libcomponent~=0.0.0
mypy_extensions>=1.0.0
pygame~=2.6.0
trio~=0.28.0
typing_extensions>=4.12.2
#</TOML_DEPENDENCIES>
